node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.cache
.parcel-cache
.DS_Store
*.log
cypress
cypress.json
cypress.env.sample.json
.cypress
.vscode
.idea
*.swp
*.swo
*~
terraform
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl
