version: 2.1
apiVersion: v1
kind: cypress
showConsoleLog: false
sauce:
    region: us-west-1
    concurrency: 5
    sauceignore: .sauceignore
rootDir: .
cypress:
    configFile: cypress.config.ts
    version: 12.17.2
suites:
    - name: cypress - windows 10 - chrome latest
      browser: chrome
      browserVersion: latest
      platformName: Windows 10
      config:
          specPattern:
              - "**/*.*"
    - name: cypress - windows 10 - chrome latest-1
      browser: chrome
      browserVersion: latest-1
      platformName: Windows 10
      config:
          specPattern:
              - "**/*.*"
    #  COMMENTING FIREFOX 101 OUT AS THE SAUCELAB IMAGE IS BUGGY
    #- name: cypress - windows 10 - firefox latest
    #  browser: firefox
    #  extendedDebugging: true
    #  browserVersion: latest
    #  platformName: windows 10
    #  config:
    #    testFiles:
    #    - '**/*.*'
    - name: cypress - windows 10 - firefox 100
      browser: firefox
      browserVersion: "100"
      platformName: Windows 10
      config:
          specPattern:
              - "**/*.*"
    - name: cypress - windows 10 - microsoftedge latest
      browser: microsoftedge
      browserVersion: latest
      platformName: Windows 10
      config:
          specPattern:
              - "**/*.*"
    - name: cypress - windows 10 - microsoftedge latest-1
      browser: microsoftedge
      browserVersion: latest-1
      platformName: Windows 10
      config:
          specPattern:
              - "**/*.*"
artifacts:
    download:
        match:
            - "*"
        when: always
        directory: ./artifacts
